.flags {
  font-size: small;
  padding: 4px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
}

.status {
  font-size: medium;
  font-weight: bold;
  margin: 10px;
  padding: 7px;
  color: rgb(255, 255, 255);
  background-color: rgb(168, 168, 168);
  border-radius: 8px;
}

.remainingFlags {
  font-size: small;
  margin: 2px;
  padding: 2px;
}
