/* body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
} */

/* .Minesweeper {
  width: 15000px;
  height: 15000px;
  border: 1px solid black;
} */

body {
  background-color: rgb(240, 240, 240);
  color: #444;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
